$themeDarkBackground: hsl(211, 100%, 18%);
$linkButtonColour: hsl(201, 100%, 74%);
$tabletBreakpoint: 700px;
$laptopBreakpoint: 1024px;
$desktopBreakpoint: 1440px;
$largeMonitorBreakpoint: 1990px;

body {
  font-family: "Castledown", sans-serif;
  color: hsl(211, 100%, 18%);
  background-color: hsl(0, 0%, 100%);
}

a:focus-visible,
input:focus-visible {
  outline: 1.5px dashed hsl(46, 100%, 50%);
}

@supports not selector(:focus-visible) {
  a:focus,
  input:focus {
    outline: 1.5px dashed hsl(46, 100%, 50%);
  }
}

.card-heading-link {
  display: inline-block;
  font-weight: 500;
  text-decoration: underline;
  font-size: 2.7rem;
  margin-block-end: 0.75em;
  line-height: 1.25em;
  &:focus,
  &:hover {
    text-decoration: none;
    color: hsl(204, 81%, 52%);
  }
}

.button-link {
  background-color: $linkButtonColour;
  color: hsl(211, 100%, 18%);
  font-weight: 500;
  border-radius: 2em;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
  &:hover,
  &:focus {
    background-color: hsl(204, 81%, 52%);
  }
}

.section-heading {
  font-weight: 500;
  font-size: 3.5rem;
  padding-block-start: 1.25em;
  padding-inline-start: 0.5em;
  line-height: 1.25em;
}

.guide-dogs-header {
  background-color: $themeDarkBackground;
  color: hsl(0, 0%, 100%);
  height: 11em;
  padding: 1em;
  width: 100%;
  .accessible-link-header,
  .shop-link-header,
  .search-bar-header,
  .nav-toggler {
    display: none;
  }
}

.guide-dogs-main-content {
  .site-nav-header {
    display: none;
  }
}

.header-top-wrapper {
  display: flex;
  justify-content: space-between;
  // outline: 1px solid orange;
  padding: 0.5em;
  .nav-toggle {
    font-size: 2rem;
    font-weight: 500;
  }
}

.header-top-wrapper {
  .nav-toggle-ornament {
    font-size: 3.25rem;
    font-weight: 700;
  }
}
.button-link-wrapper {
  display: flex;
  justify-content: center;
  margin-block-start: 0.5em;
  .header-button-link {
    font-size: 1.8rem;
    padding: 0.75em 7em;
  }
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  margin-block-end: 3em;
}

.hero-image {
  background-image: url("../images/guiding_christmas_advert.jpg");
  background-color: hsl(0, 0%, 100%);
  background-size: cover;
  background-position: 70% 30%;
  height: 17.5em;
  display: block;
}

.hero-content {
  background-color: $themeDarkBackground;
  color: hsl(0, 0%, 100%);
  padding: 1.5em 1.5em 3em;
  width: 100vw;
  .hero-title {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4.5rem;
    margin-block-end: 0.5em;
  }
  .hero-text {
    font-weight: 500;
    font-size: 1.9rem;
    margin-block-end: 1.75em;
  }
  .hero-button-link {
    background-image: url(../images/icon_arrow_blue.svg);
    background-repeat: no-repeat;
    padding: 1em 4em 1em 1.5em;
    background-position: center right 1.5em;
    background-size: 1em 1em;
    font-size: 1.75rem;
  }
}

.services-component {
  background-color: $themeDarkBackground;
  padding: 3.5em 1.5em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 1.5em;
}

.services-card,
.popular-links-card {
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: hsl(0, 0%, 100%);
}

.services-image,
.popular-links-image {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 2/1;
}

.services-content,
.popular-links-content {
  font-size: 1.8rem;
  padding: 1.25em 1em 1em 1em;
  line-height: 1.25em;
}

.video-section-text {
  font-size: 1.85rem;
  line-height: 1.25em;
  padding-inline: 1em 0.5em;
  .video-section-link {
    text-decoration: underline;
    font-weight: 500;
    &:focus,
    &:hover {
      text-decoration: none;
      color: hsl(204, 81%, 52%);
    }
  }
}

.guiding-video {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  padding-inline: 1em;
  margin-block-end: 1em;
}

.popular-links {
  border-block-start: 2px solid rgb(186, 182, 182, 0.3);
}

.popular-links-component {
  padding-block-start: 3em;
  padding-block-end: 4em;
  padding-inline: 1.5em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1.5em;
  .popular-links-card {
    border: 2px solid rgb(186, 182, 182, 0.3);
  }
  .popular-section-heading {
    font-size: 1.7rem;
  }
}

.guide-dogs-footer {
  background-color: hsl(211, 100%, 18%);
  color: hsl(0, 0%, 100%);
  padding: 1em;
  .footer-cards-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.footer-card {
  position: relative;
  .footer-heading {
    font-size: 2.5rem;
    font-weight: 500;
    border: 1px dashed hsl(0, 0%, 50%, 0.5);
    border-radius: 0.5em;
    padding-inline-start: 3em;
    padding-block: 0.75em;
    .footer-heading-ornament {
      position: absolute;
      top: 0.6em;
      left: 1.25em;
    }
  }
  .footer-text-content {
    display: none;
  }
}

.footer-copyright-wrapper {
  margin-block-end: 3em;
  .footer-copyright-line {
    font-size: 1.9rem;
  }
}

.footer-logo-wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  align-items: center;
  justify-items: center;
  gap: 1em;
  margin-block-end: 2em;
}

.footer-sitelinks-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  .footer-sitelink {
    font-weight: 500;
    text-decoration: underline;
    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
}

@media (min-width: $tabletBreakpoint) {
  .button-link-wrapper {
    .header-button-link {
      padding: 0.75em 1.5em;
    }
  }
  .services-component {
    padding: 5em 2em;
    gap: 2em;
  }
  .video-section-text {
    padding-inline: 1.5em 1em;
  }
  .guiding-video {
    padding-inline: 1.5em;
  }
  .popular-links-component {
    padding-inline: 2em;
    gap: 2em;
  }
  .guide-dogs-footer {
    .footer-cards-wrapper {
      flex-direction: row;
      padding-block-end: 3em;
      border-bottom: 1px dashed hsl(0, 0%, 50%, 0.5);
    }
  }
  .footer-card {
    display: flex;
    flex-direction: column;
    border-left: 1px dashed hsl(0, 0%, 50%, 0.5);
    &:nth-child(1) {
      border-left: none;
      padding-inline-end: 1em;
    }
    .footer-heading {
      font-size: 3.5rem;
      border: none;
      padding-inline: 0;
      padding-block-end: 0;
      margin-block-end: 0.5em;
    }
  }
  .footer-card {
    &:nth-child(2) {
      padding-inline: 1.5em;
      .footer-heading {
        font-size: 3.2rem;
      }
    }
  }

  .footer-card {
    &:nth-child(3) {
      padding-inline-start: 1em;
    }
  }
  .footer-heading-ornament {
    display: none;
  }
  .footer-card .footer-text-content {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
  }

  .useful-links-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    li {
      background-image: url(../images/icon_arrow_blue_light_tint.svg);
      background-repeat: no-repeat;
      background-size: 1em;
      padding-inline-start: 0;
      background-position: left;
      a {
        text-decoration: underline;
        padding-inline-start: 2em;
        font-weight: 500;
        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }

  .contact-links-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    a {
      text-decoration: underline;
      padding-inline-start: 1.75em;
      font-weight: 500;
      word-break: break-all;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .contact-links-list {
    .contact-us-link {
      background-image: url(../images/icon_arrow_blue_light_tint.svg);
      background-repeat: no-repeat;
      background-size: 1em;
      background-position: left;
    }
  }

  .contact-links-list {
    .email-us-link {
      background-image: url(../images/icon_email_blue_tint.svg);
      background-repeat: no-repeat;
      background-size: 1em;
      background-position: center left;
    }
  }

  .icon-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    .icon-background {
      background-color: white;
      height: 2.7em;
      width: 2.75em;
      border-radius: 50%;
      position: relative;
    }
    .social-icon {
      color: hsl(211, 100%, 18%);
      font-size: 3rem;
      position: absolute;
      left: 0.275em;
      &:nth-child(4) {
        left: 0.35em;
      }
    }
  }

  .footer-logo-wrapper {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: $laptopBreakpoint) {
  .guide-dogs-header {
    height: 13.5em;
  }
  .guide-dogs-header {
    .logo-header {
      width: 9.5em;
      padding-block-end: 1.5em;
      margin-inline-start: 1em;
    }
  }
  .guide-dogs-header {
    .accessible-link-header,
    .shop-link-header {
      display: block;
      text-decoration: underline;
      font-weight: 500;
      font-size: 2rem;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
  .guide-dogs-header {
    .shop-link-header {
      background-repeat: no-repeat;
      .shop-link-icon {
        background-image: url(../images/icon_external_white.svg);
        background-repeat: no-repeat;
        padding: 1em 2em 1em 1.5em;
        background-position: center right 1.5em;
        background-size: 1em 1em;
        font-size: 1.75rem;
      }
    }
  }
  .guide-dogs-header {
    .search-bar-header {
      display: block;
      border-radius: 0.5em;
      height: 3em;
      width: 15em;
      padding: 1em;
    }
  }
  .guide-dogs-header {
    .nav-toggle {
      display: none;
    }
  }
  .header-top-wrapper {
    align-items: center;
  }
  .button-link-wrapper {
    justify-content: flex-start;
    padding-block-end: 3em;
    margin-inline-start: 1em;
  }
  .guide-dogs-main-content .site-nav-header {
    display: flex;
    flex-direction: row;
    background-color: white;
    color: hsl(211, 100%, 18%);
    justify-content: space-evenly;
    // position: relative;
    a {
      padding: 1em 2em;
      font-size: 2rem;
      font-weight: 500;
      // border-left: 1.5px solid hsl(0, 0%, 50%, 0.2);
      // border-right: 1.5px solid hsl(0, 0%, 50%, 0.2);
      &:hover,
      &:focus {
        background-color: hsl(201, 100%, 74%);
      }
      // &:before {
      //   content: '';
      //   position: absolute;
      //   height: 80%;
      //   width: 0.1em;
      //   background: hsl(0, 0%, 50%, 0.3);
      //   top: 10%;
      //   margin-right: 20px;

      // }
    }
  }
  .hero-wrapper {
    background-image: url("../images/guiding_christmas_advert.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35em;
    background-position: 50% 30%;
    flex-direction: row;
    align-items: center;
    margin-block-end: 5em;
  }
  .hero-image {
    display: none;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    height: 23em;
    width: 28em;
    margin-inline-start: 3em;
    border-radius: 0.5em;
    .hero-title {
      font-size: 5rem;
      line-height: 1.25em;
    }
  }
  .hero-content {
    .hero-text {
      font-size: 2.5rem;
    }
  }
  .services-component {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3em;
    padding-inline: 4em;
    padding-block: 6em;
  }
  .video-component {
    padding-inline: 4em;
    padding-block-start: 2em;
    padding-block-end: 4em;
  }
  .popular-links-component {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding-inline: 4em;
  }
  .popular-links {
    .popular-section-heading {
      padding-inline-start: 2em;
    }
  }
  .footer-copyright-logo-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 0.5em;
  }
  .footer-sitelinks-wrapper {
    flex-direction: row;
    gap: 2em;
    padding-block-end: 1.75em;
    li {
      padding-inline: 1em;
      border-right: 1px solid hsl(0, 0%, 50%, 0.5);
    }
  }
}

@media (min-width: $desktopBreakpoint) {
  .guide-dogs-header {
    height: 8.5em;
    display: flex;
    justify-content: space-between;
  }

  .header-top-wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 0.5fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
  }
  .guide-dogs-header .header-top-wrapper .logo-header {
    width: 11em;
    margin-inline-end: 10em;
  }

  .guide-dogs-header {
    .search-bar-header {
      width: 16em;
    }
  }
  .button-link-wrapper {
    display: block;
    margin-block-start: 2.5em;
  }
  .guide-dogs-main-content .site-nav-header {
    a {
      padding: 1em 3em;
    }
  }
  .hero-content {
    margin-inline-start: 5.5em;
  }
  .services-component,
  .popular-links-component,
  .video-component {
    padding-inline: 6.5em;
  }
  .popular-links {
    .popular-section-heading {
      padding-inline-start: 3em;
    }
  }
  .useful-links-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1500px) {
  .guide-dogs-header {
    padding-inline: 8em;
  }

  .guide-dogs-header {
    .search-bar-header {
      width: 18em;
    }
  }

  .button-link-wrapper {
    padding-inline-end: 3.5em;
    .header-button-link {
      font-size: 2rem;
      padding: 0.75em 1em;
    }
  }

  .site-nav-header {
    margin-inline: 3em;
  }

  .services-card-left {
    margin-inline-start: 13em;
  }

  .services-card-right {
    margin-inline-end: 13em;
  }

  .video-component {
    margin-inline: 13em;
  }
  .popular-links {
    margin-inline: 13em;
  }
}
